.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input {
    display: none;
    transition: opacity 0.5s ease;
  }
  
  .input.show {
    display: block;
    opacity: 1;
  }
  